<% if user_signed_in? %>
  <h2>部屋を予約する</h2>
    <%= form_with(url:confirm_reservations_path, method: :get) do |f| %>
     <table>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <tr>
        <th><%= f.label :checkin ,"開始日" %></th>
        <td><%= f.date_field :checkin %></td>
      </tr>

      <tr>
        <th><%= f.label :checkout ,"終了日" %></th>
        <td><%= f.date_field :checkout %></td>
      </tr>

      <tr>
        <th><%= f.label :person ,"人数" %></th>
        <td><%= f.text_field :person %></td>
      </tr>
     </table>

     <% if flash[:notice_no_create] %>
        <p class="notice"><%= flash[:notice_no_create] %></p>
     <% end %>
     <div>
      <ul>
        <li><%= f.submit "予約する"%></li>
      </ul>
     </div>
    <% end %>
<% else %>
  <%= link_to "ログイン", new_user_session_path %> 
<% end %>