<%= render "shared/partial" %>
<%= link_to '戻る', :back %>
<% if @room.user == current_user %>
 <%= link_to "編集", edit_room_path(@room.id) %>
<% else %>
 <td></td>
<% end %>
<table>
  <% if @room.room_image.present? %>
      <img src=<%= @room.room_image %> class = "room_image">
  <% else %>
      <img src="/default-room_image-icon.png" class = "room_image">
  <% end %>

  <tr>
    <th>名前</th>
    <td><%= @room.room_name %></td>
  </tr>
  <tr>
    <th>一人当たり料金</th>
    <td><%= @room.room_price %></td>
  </tr>
  <tr>
    <th>部屋詳細</th>
    <td><%= @room.room_content %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @room.room_address %></td>
  </tr>
  <tr>
    <th>価格</th>
    <td><%= @room.room_price %></td>
  </tr>
</table>

<h2>部屋を予約する</h2>
  <%= form_with model: @reservation do |f| %>
   <%= f.hidden_field :user_id, value: @user.id %>
   <%= f.hidden_field :room_id, value: @room.id %>
    <table>
     <tr>
       <th><%= f.label :checkin ,"開始日" %></th>
       <td><%= f.date_field :checkin %></td>
     </tr>

     <tr>
       <th><%= f.label :checkout ,"終了日" %></th>
       <td><%= f.date_field :checkout %></td>
     </tr>

     <tr>
       <th><%= f.label :person ,"人数" %></th>
       <td><%= f.text_field :person %></td>
     </tr>
   </table>
   <div>
   <ul>
      <%= f.submit "予約する"%>
   </ul>
   </div>
  <%end%>
